* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    text-align: center;
    padding: 2rem;
    background: #1a1a1a;
}

/* Contenedor scroll */
.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 2rem;
    scroll-behavior: smooth;
}

/* Scroll personalizado */
.scroll-container::-webkit-scrollbar {
    height: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #00c853;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #333;
}

/* Tarjetas */
.marca-card {
    display: inline-block;
    background: #1e1e1e;
    margin-right: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.marca-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.marca-card h2 {
    padding: 1rem;
}

.marca-card:hover {
    transform: scale(1.05);
}
.menu{
    grid-area: menu;
    
}